.App{
    display: flex;
    justify-content: center;
    
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
    margin : 0 ; 
    width: 60%;
    height: 900px;
    background-color: black;
    color : white;
    
}