.chat-screen__texts , .chat-screen__texts_me{
    padding: 0;
    list-style-type: none;
}
.chat-screen__texts > .text{
    background-color: #34d27b;
    width: 280px;
    height: 50px;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 8px;
    line-height: 30px;
    position: relative;
    left: 20px;
    /* 라인하이트 쓰면 가운데로 할 수 있음.
        원래는 좀 이상하게 나오는데 밀어냈다고 보면 됌*/
}

.chat-screen__texts_me > .text{
    background-color: #34d27b;
    width: 280px;
    height: 50px;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 8px;
    line-height: 30px;
    position: relative;
    left: 950px;
}


/* 지금부터 쓰는 건 의사요소임 */
.chat-screen__texts > .text::after{
    content: "";
    border-right: 16px solid #34d27b;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 10px;
    left: -10px;
}

.chat-screen__texts_me > .text::after{
    content: "";
    border-left: 16px solid #34d27b;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 10px;
    right: -10px;
}

.chat-screen__texts > .text:hover{
    background-color: #1c9352;
    transition: background-color 1500ms 200ms ease-in;
}

.chat-screen__texts_me > .text:hover{
    background-color: #1c9352;
    transition: background-color 1500ms 200ms ease-in;
}
/* 의사클래스 시작 */
.chat-screen__texts > .text:hover::after{
    border-right: 16px solid #1c9352;
    transition: background-color 1500ms 200ms ease-in;
}


.chat-screen__texts_me > .text:hover::after{
    border-right: 16px solid #1c9352;
    transition: background-color 1500ms 200ms ease-in;
}
