*{
    text-align: center;
    margin-top: 30px;
    background-color: #9FF781;

}

h1{
    border: 2px solid darkmagenta;
    background-color: #00BFFF;
    width: 700px;
    height: 40px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
}

#top{
    border: 1px solid darkmagenta;
    width: 650px;
    height: 65px;
    margin: auto;
}

#src{
    border: 1px solid darkmagenta;
    width: 650px;
    height: 650px;
    margin: auto;
}


#real-text{
    border: 1px solid darkmagenta;
    width: 650px;
    height: 120px;
    margin: auto;
}


