.list-group{
    display: none;
}

.show{
    display: block;
} 

.black-bg {
    width : 100%;
    height : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 5;
    padding: 30px;
    visibility: hidden; /*이건 모습만 숨기는거,display none은 아예 제거*/
    opacity: 0; /* 이건 투명도임. 0~1까지임. */
    transition: all 1s; /*모든 css속성이 변할 때, 1초 걸려서 다 변하게 해주세요!*/
  }

  .white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
  }
  .modalBtn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
  }

  .show-modal{
    display: block;
    visibility: visible; /*이건 display block이랑 유사함.*/
    opacity: 1;
  }
  
  .main-bg{
    padding: 100px 20px;
    background: lightgrey;
  }